/* @import 'tailwindcss'; */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* resources/css/app.css */

@layer base {
    :root {
        --color-primary: var(--color-sky-800);
        --color-secondary: var(--color-orange-400);
        --color-text-primary: var(--color-gray-900);
        --color-bg-primary: var(--color-zinc-50);
    }

    .dark {
        --color-primary: var(--color-sky-800);
        --color-secondary: var(--color-orange-400);
        --color-text-primary: var(--color-white);
        --color-bg-primary: var(--color-zinc-900);
    }
}